body {
    font-family: 'Poppins', sans-serif;
    background-color: #a6a6a6;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0 50px;
}

nav a {
    text-decoration: none;
    color: cyan;
    font-weight: bold;
    position: relative;
}

nav a.active::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: cyan;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

h1 {
    font-size: 4rem;
    margin: 0;
}

h2 {
    font-size: 2rem;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li:first-child {
    font-weight: bold;
    margin-bottom: 10px;
}

li:not(:first-child) {
    font-weight: normal;
    font-size: 1.1rem
}
